// TODO: Switch to a watched (https://pypi.org/project/django-sass/) Sass compiler for production.

$white: #eee;
$black: #333;
$highlight: rgb(167, 129, 123);

body {
    background-color: $black;
    color: $white;
}

a {
    color: $white;
    &:hover,&:focus {
        color: $highlight;
    }
}

.left,.center,.right {
    padding: 10px;
}

.left {
    float: left;
}

.center {
    width: 60vw;
    margin: auto;
    text-align: center;
}

.right {
    float: right;
}