{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  href="{% sass_src 'style.scss' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="Navbar" id="myTopnav">
        <a class="active" href="#Home"> Home</a>
        <a href="#Services"> Services</a>
        <a href="#Contacts"> Contacts</a>
      </div>
    </div>
    {% if user.is_authenticated %}
    <div class="container">
        <div class="center"> Logged in as {{ user.username }}</div> 
        <a href="{% url 'logout' %}"><button type="submit">Logout</button></a>
    </div>
    {% else %}
    <a href="{% url 'login' %}"><button type="submit">Login</button></a>
    <a href="{% url 'register' %}"><button type="submit">Register</button></a>
    {% endif %}
</body>
</html>