{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Item</title>
    <link  href="{% sass_src 'style.scss' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <form action="/screed/new_item/{{user.id}}/" method="post">
        {% csrf_token %}
        <h2>Item:</h2>
        {{ item_form }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>