{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - {{ user.username }}</title>
    <link  href="{% sass_src 'style.scss' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="center">
        <h1>{{ user.username }}</h1>
        <ul>
            {% for traveler in user.traveler_set.all %}
                <li><a href="{% url 'traveler' traveler.id %}">{{ traveler.name }}</a></li>
            {% endfor %}
        </ul>
        <a href="{% url 'new_traveler' user.id %}">New Traveler</a>
    </div>
</body>
</html>